/TestHttpListenerNetFx/obj
/TestHttpListenerNetFx/.vs
/TestHttpListenerNetFx/bin
/TestHttpListenerNetCore/bin
/TestHttpListenerNetCore/obj
/.vs
/TestHttpListenerNetCore/.vs
/HttpListenerServer/bin
/HttpListenerServer/obj
/HttpV2Server/.vs
/HttpV2Server/Debug
/HttpApiServer/.vs
/HttpApiServer/Debug
/HttpApiServer/HttpApiServer.vcxproj.filters
